@import url('https://fonts.googleapis.com/css?family=Lobster%7CManjari&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: #ffe1ec;
  font-family: 'Manjari', sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
}

h1, h2, h3, h4 ,h5 {
  text-align: center;
  font-family: 'Lobster', serif;
  color: #ffffff;
}

h1 {
  margin: 0 auto 30px auto;
  font-size: 10rem;
}

.container {
  margin: 0 auto;
  padding: 30px 30px 50px 30px;
}

.header {
  background: #ffa7d5;
}

form {
  padding: 30px 0 40px 0;
}

form label, form select, form input {
  display: block;
  margin: 0 auto;
}

form label {
  padding-bottom: 10px;
  text-align: center;
  font-size: 2.2rem;
}

.selector select {
  margin: 0 auto;
  height: 30px;
  width: 250px;
  background: #ffe1ec;
  font-size: 2rem;
  color: #761f46;
  border: none;
  border-radius: 10px;
}

.submit-button {
  margin-top: 15px;
  background-color: #761f46;
  font-size: 2rem;
  color: #ffffff;
  padding: 5px 9px;
  border: none;
  border-radius: 10px;
}

.cat-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.cat-image {
  overflow: hidden;
  padding: 20px;
  width: 30%;
  height: 30vw;
}

.cat-image img {
  display: block;
  object-fit: cover;
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .cat-image {
    width: 50%;
    height: 50vw;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .cat-image {
    width: 100%;
    height: 100vw;
  }
}